.search-form {
    width: 200px;
}

.search-form input {
    border: 0.5px solid gray;
    border-radius: 10px;
    padding: 5px;
    padding-right: 20px;
    text-indent: 10px;

}

.search-icon-container {
    position: relative;
    cursor: pointer;
}

.search-icon {
    position: absolute;
    top: -28px;
    right: 5px;
}

@media screen and (max-width: 991px) {
    .search-form {
        width: 200px;
        padding: 20px 0px;
    }
}