.chapter-item {
    height: 60vh;
}

.chapter-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.read-button {
    font-weight: bold;
    height: 70px;
    width: 100px;
    border-radius: 10px;
    background-color: darkturquoise;
    border: none;
    color: var(--btn-text-color);
}

.read-button:hover {
    background-color: lightblue;
}

.borrow-book-button {
    font-weight: bold;
    height: 70px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: darkturquoise;
    color: var(--btn-text-color);
}

.borrow-book-button:hover {
    background-color: darkcyan;
}

.download-btn {
    margin-top: 10px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: mediumspringgreen;
    color: var(--btn-text-color);
}

@media screen and (max-width: 800px) {
    .chapter-item {
        height: 40vh;
    }
}

@media screen and (max-width: 400px) {
    .chapter-item {
        height: 20vh;
    }
}