.comment-user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2%;
}

.comment-user-info {
    display: flex;
    align-items: center;
}

.comment-circle-avt {
    width: 10%;
    position: relative;
    margin-right: 3%;
}

.comment-circle-avt::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.comment-circle-avt img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 100%;
}